<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv = "Conetent-Type" cotent = "text/html; charset=UTF-8"/>
<title>TITLE</title>
</head>
<body>
	<h1>GELLO</h1>
	<a href="hello">hello</a>
	<h1>GELLO2</h1>
	<p class="msg" th:text="${msg}"></p>
	<form action="/insert" method="POST">
    <br>사람ID  : <input type = "text" name="id"></br>
    <br>이름 name : <input type = "text" name="name"></br>
    <input type="submit" value="정보 등록">
    </form>
</body>
</html>
