<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>등록 성공 안내</title>
</head>
<body>
    <h1>카드 등록에 성공하였습니다.</h1>
    <div>
        <label>카드 정보: </label>
        <label th:text="${response}"/>
        <input id="test" />
    </div>
    <button onclick="ajaxTest()">SEND_INFO</button>
</body>
<script type="text/javascript">
	function ajaxTest(){
		$.ajax({
	        url: "ajaxTest.do",
	        type:"post",
	        data: JSON.stringify(json),
	        contentType: "application/json",
	        success: function(data) {
	            alert("통신성공");
	        },
	        error: function() {
	            alert("error");
	        }
	    })
	}
</script>
</html>